body{
	font: 11px Verdana, sans-serif;
	color: #333333;
}
#wrapper{
	width: 500px;
}
.question{
	font-weight: bold;
}
fieldset{
	padding: 10px;
	margin: 10px;
	border: 1px solid #cccccc;
	background-color: #FCFCFC;
}