body{
	font:14px Tahoma;
	color:#333333;
	padding:15px;
	margin:0 auto;
	width:1000px;
	background-color:#f6f6f6;
}
p{
	text-indent:30px;
}
#header{		
	text-align:center;
	text-transform:capitalize;
	padding:50px 10px;
	margin:20px auto 10px auto;
	width:550px;
	background-color:#cc0000;
	color:#ffffff;
	border:5px solid #FFDD00;
	
}

ul{
	list-style:inside url(../images/arrow.png);
}
.new2{
	font-style:italic;
	text-decoration:overline;
}
.new3{
	font-weight:bold;
	text-decoration:underline;
	}
h2{
	text-decoration:line-through;
}
a{
	text-decoration:none;
	border-bottom:2px dashed #DB0800;
}
.new4{
	text-align:left;
}
.new5{
	text-align:right;
}
.new6{
	text-align:justify;
}
table, td, th{
	border: 1px solid #cccccc;
	text-align: center;
}
table{
	width: 700px;
	border-collapse: collapse;
	margin: 0 auto;
}
td, th{
	height: 50px;
	padding: 5px;
	vertical-align: middle;
	background-color: #FFFFFF;
}
th{
	background-image: url(../images/tablebg.jpg); 
}
tr.blue td{
	background-color: #CEEFFF;
}






