#wrapper {
	width: 800px;
	padding: 10px;
	outline: 1px solid #cccccc;
	margin: 0 auto;
}
#header{
	height: 77px;
	background-color: #F8AC18;
	margin-bottom: 12px;
}
#sidebar{
	height: 77px;
	background-color: #EBEBEB;
	margin-bottom: 12px;
	width: 150px;
	float: left;
}
#content{
	height: 77px;
	background-color: #C5161D;
	margin-bottom: 12px;
}
#footer{
	height: 77px;
	background-color: #111111;
	margin-bottom: 12px;
}		